.education {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgba(0, 255, 0, 0.05);
  box-shadow: 5px 5px 0 0 rgb(40, 40, 40);
  border: solid 2px black;
}

.degree {
  margin: 0 24px;
}

app-degree {
  display: block;
  margin: 24px 0;
}

@media (max-width: 1006px) { /* for Phones */

  .education,
  .certification {
    max-width: 500px;
    min-width: 254px;
  }

}
