.education {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  background-color: var(--colorBackplate);
  box-shadow: 5px 5px 0 0 var(--colorShadow);
  border: solid 2px var(--colorBorder);
}

.degree {
  margin: 0 24px;
}

app-degree {
  display: block;
  margin: 24px 0;
}

.certification {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 56px;
  padding-top: 50px;
}

.certificate {
  width: 48%;
}

@media (max-width: 1356px) { /* for Tablet */

  .certification {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (max-width: 1006px) { /* for Phones */

  .certification {
    display: flex;
    flex-direction: column;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto auto 50px auto;
  }

  .certificate:last-child {
    margin: 0;
  }

  .education,
  .certification {
    max-width: 500px;
    min-width: 254px;
  }
}
