.hobbies {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 24px;
  background-color: rgba(0, 255, 0, 0.05);
  box-shadow: 5px 5px 0 0 var(--colorShadow);
  border: solid 2px var(--colorBorder);
}

app-hobby {
  margin-bottom: 24px;
}

app-hobby:last-child {
  margin-bottom: 0;
}

@media (max-width: 1006px) { /* for Phones */

  .hobbies {
    max-width: 500px;
    min-width: 254px;
  }

}
