<div class="about_me">

  <img class="avatar" src="../../assets/img/Avatar.jpg" alt="Avatar">

  <div class="description_container">

    <span class="caption_container">Hi, My name is Aleksey Nikolaev</span>
    <p class="title_container">I'm a software engineer with 8 years’ experience in programming industry.
      I'm looking for a developer position in a modern company with possibilities
      of self-development. I'm interested in frontend and full-stack development.
      I have modern frontend development skills stack and solid knowledge of common
      design patterns. Moreover, my ability to self-education and self-organization
      allow me to work just as well on team projects as on my own.</p>
  </div>

</div>
