<section class="about_me">

    <div class="about_me_container">
      <div class="about_me_description">
        <p>
          <b><span class="about_me_caption">My name is Aleksey Nikolaev</span></b>
          I'm a software engineer looking for a web developer
          position in a modern company with possibilities of
          self-development. I'm interested in front-end development
          and potentially back-end in the future. My ability to
          self-education and self-organization allows me to work on my
          own projects, as well as team projects
        </p>
      </div>

      <div class="avatar_container">
        <img class="avatar" src="assets/img/Avatar.jpg" alt="Avatar">
      </div>

    </div>

</section>
