<div class="about_me">

  <img class="avatar" src="../../assets/img/Light/Avatar.jpg" alt="Avatar">

  <div class="description_container">

    <b><span class="caption_container">My name is Aleksey Nikolaev</span>
      I'm a software engineer looking for a web developer
      position in a modern company with possibilities of
      self-development. I'm interested in front-end development
      and potentially back-end in the future. My ability to
      self-education and self-organization allows me to work on my
      own projects, as well as team projects</b>

  </div>

</div>
