/*============================================================*/
/*========== ABOUT ME                                         */
/*============================================================*/

.about_me {
  /*background-color: cyan;*/
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
}

.about_me .container_label {
  top: 60px;
}

.about_me_container {
  /*background-color: rgba(255, 127, 80, 0.36);*/
  display: flex;
  height: 60%;
  width: 100%;
  bottom: 50px;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.2);
}

.about_me_description {
  /*background-color: rgba(100, 149, 237, 0.29);*/
  display: flex;
  height: 100%;
  width: 680px;
  margin-left: 100px;
}

.about_me_description p {
  margin: auto;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  line-height: 2.2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.about_me_caption {
  display: block;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 4px 4px 8px rgba(255, 0, 0, 0.05);
}

.avatar_container {
  height: 80%;
  width: 290px;
  margin: auto;
  overflow: hidden;
}

.avatar_container .avatar {
  height: 100%;
}
