<div class="certificate">
  <div class="certificate_picture">
    <img src="{{inputCertificateData.certificateImage}}" alt="Picture of certificate">
  </div>
  <div class="certificate_info">
    <p id="certificate_name">{{inputCertificateData.certificateName}}</p>
    <p id="place_of_certification">{{inputCertificateData.place}}</p>
    <p id="date_of_certification">Issue date: {{inputCertificateData.issueDate}}</p>
    <p id="certificateID">ID: {{inputCertificateData.certificateID}}</p>
  </div>
  <div class="certificate_links">
    <a id="certificate_link" href="{{inputCertificateData.certificateLink}}" target="_blank">Open certificate</a>
  </div>
</div>
