.footer_area {
  color: var(--colorText);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_links {
  width: 100%;
  height: 220px;
  border-top: solid 2px var(--colorBorder);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  margin-top: 50px;
}

ul span {
  display: block;
  padding-bottom: 8px;
}

li::marker {
  content: none;
}

li {
  margin: 6px 0 6px 0;
}

li a {
  color: var(--colorText);
}

li a:hover {
  text-decoration: none;
  color: #366735;
}

.copy {
  font-size: 0.8rem;
}

@media (max-width: 1006px) { /* for Phones */

  .footer_links {
    height: auto;
    margin: 36px 0;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  ul {
    margin-top: 36px;
  }

  ul span {
    padding-bottom: 4px;
  }

}
