:root {
  --foot_cor: ;
  --coord_x: ;
  --coord_y: ;
}

.footer_area {
  position: relative;
  height: 600px;
  background-color: burlywood;

}

#lamp {
  background-color: cadetblue;
  position: relative;
  left: 600px;
  top: 540px;
  width: 70px;
  height: 50px;
  border-radius: 25px;
  transform-origin: 25px 50%;
  transform: rotate(var(--foot_cor));
}

#light {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: none;
}

.footer_area:hover #lamp {
  box-shadow: 25px 0 2px 0 yellow,
  30px 0 2px 0 yellow,
  35px 0 2px 0 yellow,
  40px 0 4px 0 yellow,
  45px 0 4px 0 yellow,
  50px 0 4px 0 yellow,
  55px 0 6px 0 yellow,
  60px 0 6px 0 yellow,
  65px 0 6px 0 yellow,
  70px 0 8px 0 yellow,
  75px 0 8px 0 yellow,
  80px 0 8px 0 yellow;
}

.footer_area:hover #light {
  background-color: yellow;
  box-shadow: 0 0 10px 10px yellow;
  top: var(--coord_y);
  left: var(--coord_x);
}
