<section class="footer_area">
  <div class="footer_links">
    <ul><span>Contacts</span>
      <li><a href="https://maps.app.goo.gl/DNNMPm6i5Urx5wvz7" target="_blank">Budapest, Hungary</a></li>
      <li><a href="tel:+36705551769">Tel.: +36 70 555 1769</a></li>
      <li><a href="mailto:aleksey.nikolaev.eng@gmail.com">aleksey.nikolaev.eng@gmail.com</a></li>
    </ul>

    <ul><span>Additional links</span>
      <li><a href="https://www.linkedin.com/in/nikolaevaleksey/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/l-Aleksey-Nikolaev-l" target="_blank">GitHub</a></li>
      <li><a href="https://www.facebook.com/facebook.client" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com/mister.nikolson/" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <p class="copy">Copyright © 2023 - 2024 Designed & Developed by Aleksey Nikolaev</p>
</section>
