.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

app-job {
   display: block;
   width: 48%;
}

@media (max-width: 1006px) { /* for Phones */
  .experience {
    max-width: 500px;
    min-width: 254px;
  }

  app-job {
    width: 100%;
    margin-bottom: 50px;
  }

  app-job:last-child {
    margin: auto;
  }
}
