<section class="top_area">
  <section class="layers">
    <div class="layers_container">
      <div id="layer_1_light" class="layers_item light_layer" style="background-image: url(assets/img/Light/layer-1.jpg)"></div>
      <div id="layer_1_dark" class="layers_item dark_layer" style="background-image: url(assets/img/Dark/layer-1.jpg)"></div>
      <div id="layer_2_light" class="layers_item light_layer" style="background-image: url(assets/img/Light/layer-2.png)"></div>
      <div id="layer_2_dark" class="layers_item dark_layer" style="background-image: url(assets/img/Dark/layer-2.png)"></div>
      <div id="layer_3" class="layers_item">
        <div class="top_description">
          <p>CV AS A PROJECT</p>
          <div>Web Developer / Engineer / Creator</div>
        </div>
      </div>
      <div id="layer_4_light" class="layers_item light_layer" style="background-image: url(assets/img/Light/layer-4.png)"></div>
      <div id="layer_4_dark" class="layers_item dark_layer" style="background-image: url(assets/img/Dark/layer-4.png)"></div>
      <div id="layer_5_light" class="layers_item light_layer" style="background-image: url(assets/img/Light/layer-5.png)"></div>
      <div id="layer_5_dark" class="layers_item dark_layer" style="background-image: url(assets/img/Dark/layer-5.png)"></div>
    </div>
  </section>
</section>
