<section class="top_area">
  <section class="layers">
    <div class="layers_container">
      <div id="layer-1" class="layers_item"></div>
      <div id="layer-2" class="layers_item"></div>
      <div id="layer-3" class="layers_item ">
        <div class="top_description">
          <p>CV AS A PROJECT</p>
          <div>Web Developer / Engineer / Creator</div>
        </div>
      </div>
      <div id="layer-4" class="layers_item"></div>
      <div id="layer-5" class="layers_item"></div>
    </div>
  </section>
</section>
