<section class="top_area">
  <section class="layers">
    <div class="layers_container">
      <div class="layers_item layer-1" style="background-image: url(assets/img/Light/layer-1.png)"></div>
      <div class="layers_item layer-2" style="background-image: url(assets/img/Light/layer-2.png)"></div>
      <div class="layers_item layer-3">
        <div class="top_description">
          <p>CV AS A PROJECT</p>
          <div>Web Developer / Engineer / Creator</div>
        </div>
      </div>
      <div class="layers_item layer-4" style="background-image: url(assets/img/Light/layer-4.png)"></div>
      <div class="layers_item layer-5" style="background-image: url(assets/img/Light/layer-5.png)"></div>
    </div>
  </section>
</section>
