:root {
  --screenWidth: 0;
  --screenHeight: 0;
}

* {
  font-family: 'Azeret Mono', monospace;
  pointer-events: none;
}

.top_area {
  background-color: black;
  color: white;
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}

.layers_container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--mouse_y)) rotateY(var(--mouse_x));
  transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1);
  /*will-change: transform;*/
}

.layers_item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-1 {
  transform: translateZ(-70px) scale(1.15);
}

.layer-2 {
  transform: translateZ(80px) scale(0.95);
}

.layer-3 {
  transform: translateZ(160px) scale(0.9);
}

.layer-4 {
  transform: translateZ(300px) scale(0.9);
}

.layer-5 {
  transform: translateZ(380px);
}

.top_description {
  font-size: calc(var(--index) * 5);
  word-spacing: -24px;
  text-transform: none;
  text-align: center;
  margin: auto 64px;
}

.top_description div {
  font-family: "Atkinson Hyperlegible", serif;
  font-size: var(--descriptionFontSizeDyna);
  letter-spacing: calc(var(--index) * 0.2);
  word-spacing: normal;
  line-height: 3rem;
}

@media (min-width: 1921px) {
  .layers_container {
    transform: rotateX(calc(var(--mouse_y) / (var(--screenWidth) / 500))) rotateY(calc(var(--mouse_x) / (var(--screenHeight) / 500)));
  }
}
