.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 76px;
  width: 100%;
}

@media (max-width: 1006px) { /* for Phones */
  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }

  app-project {
    width: 100%;
    margin-bottom: 50px;
  }

  app-project:last-child {
    margin: auto;
  }
}
