.skills {
  background-color: var(--colorMain);
  box-shadow: 5px 5px 0 0 var(--colorShadow);
  border: solid 2px var(--colorBorder);
}

ul {
  columns: 4;
  padding: 24px 16px 24px 44px;
}

li {
  display: inline-block;
  width: 100%;
  font-size: var(--descriptionFontSize);
  line-height: 1.8rem;
}

li::before {
  content: "\25A0";
  margin-left: -20px;
  padding-right: 10px;
}


@media (max-width: 1006px) { /* for Phones */

  .list_container {
    max-width: 500px;
    min-width: 254px;
  }

  ul {
    columns: 2;
    padding: 24px 16px 24px 44px;
  }

  li {
    display: inline-block;
    width: 100%;
    font-size: var(--descriptionFontSizeDyna);
    line-height: calc(var(--index) * 1.8);
  }

  li::before {
    content: "\25A0";
    margin-left: -20px;
    padding-right: 10px;
  }
}
