
<section class="skills">
  <div class="list_container">
    <ul>
      <li>Angular</li>
      <li>JavaScript</li>
      <li>CSS</li>
      <li>HTML</li>
      <li>Waterfall methodology</li>

      <li>NodeJS</li>
      <li>C#</li>
      <li>Figma</li>
      <li>GitHub</li>
      <li>Agile methodology</li>

      <li>WebStorm</li>
      <li>VisualStudio</li>
      <li>Photoshop</li>
      <li>DaVinci Resolve</li>
      <li>Creating new solutions</li>

      <li>Capture One</li>
      <li>Clean code</li>
      <li>Research</li>
      <li>Analytical skills</li>
      <li>Problem solving</li>
    </ul>
  </div>
</section>
