<app-top-area id="{{top_area}}"></app-top-area>
<app-navigation></app-navigation>

<section class="main_container">

  <app-about-me class="main_section" id="{{about_me}}"></app-about-me>
  <app-projects class="main_section" id="{{projects}}"></app-projects>
  <app-skills class="main_section" id="{{skills}}"></app-skills>
  <app-experience class="main_section" id="{{experience}}"></app-experience>
  <app-education class="main_section" id="{{education}}"></app-education>
  <app-hobbies class="main_section" id="{{hobby}}"></app-hobbies>
  <app-contacts class="main_section" id="{{contacts}}"></app-contacts>

</section>
