<section class="project">

  <img class="project_picture" src="{{inputData.picture}}" alt="Picture of project">

  <div class="project_info">

    <p id="project_name">{{inputData.projectName}}</p>

    <p id="project_description">{{inputData.description}}</p>

  </div>

  <div class="project_links">

    <a id="project_sources" *ngIf="inputData.sourceLink != ''" href="{{inputData.sourceLink}}" target="_blank">Open sources</a>
    <a id="project_link" *ngIf="inputData.projectLink != ''" href="{{inputData.projectLink}}" target="_blank">Open project</a>

  </div>

</section>



