<section class="project">

  <img class="project_picture" src="{{inputProjectData.picture}}" alt="Picture of project">

  <div class="project_info">

    <p id="project_name">{{inputProjectData.projectName}}</p>

    <p id="project_description">{{inputProjectData.description}}</p>

  </div>

  <div class="project_links">

    <a id="project_sources" *ngIf="inputProjectData.sourceLink != ''" href="{{inputProjectData.sourceLink}}" target="_blank">Open sources</a>
    <a id="project_link" *ngIf="inputProjectData.projectLink != ''" href="{{inputProjectData.projectLink}}" target="_blank">Open project</a>

  </div>

</section>
