* {
  text-decoration: none;
  list-style: none;
}

.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: #366735; /*RAL 6001*/
  user-select: none;
  border-bottom: solid 4px black;
}

.logo {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px 0 200px;
}

.logo img {
  height: 60%;
}

.menu {
  height: 100%;
  float: right;
  margin-right: 200px;
}

.menu li {
  display: inline-block;
  line-height: 60px;
  margin: auto 12px;
}

.menu a {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu li {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.menu li:hover {
  transform: scale(1.1);
  transition: transform 100ms ease-in-out;
}

.checkButton {
  display: none;
  color: white;
  font-size: 2rem;
  float: right;
  line-height: 60px;
  margin: 0 40px 0 0;
  cursor: pointer;
}

#check {
  display: none;
}

@media (min-width: 1700px) {
  .navigation {
    display: flex;
    justify-content: center;
  }
  .logo {
    position: relative;
  }

  .menu {
    float: left;
    margin-left: 354px;
  }
}

@media (max-width: 1356px) {
  .logo {
    padding-left: 24px;
  }

  .menu {
    margin-right: 24px;
  }
}

@media (max-width: 1006px) {
  .checkButton {
    display: block;
    transform: rotateZ(270deg);
    transition: transform 0.5s;
  }

  .menu {
    position: absolute;
    top: 60px;
    height: 0;
    width: 100%;
    margin-right: 0;
    background: #27352A; /*RAL 6009*/
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
  }

  .menu li:nth-child(1) {
    padding-top: 36px;
  }

  .menu li {
    display: block;
    line-height: 70px;
  }

  .menu a {
    font-size: var(--headerFontSizeDyna);
  }

  #check:checked ~ .checkButton {
    transform: rotateZ(180deg);
  }

  #check:checked ~ .menu {
    height: 100vh;
  }
}
