* {
  text-decoration: none;
  list-style: none;
}

.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: var(--colorFirst);
  user-select: none;
  border-bottom: solid 4px var(--colorBorder);
}

.logo {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px 0 200px;
}

.logo img {
  height: 60%;
}

.menu {
  height: 100%;
  float: right;
  margin-right: 200px;
}

.menu li {
  display: inline-block;
  line-height: 60px;
  margin: auto 12px;
}

.menu a {
  color: #f9eee8;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu li {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.menu li:hover {
  transform: scale(1.1);
  transition: transform 100ms ease-in-out;
}

.checkButton {
  display: none;
  color: #f9eee8;
  font-size: 2rem;
  float: right;
  line-height: 60px;
  margin: 0 40px 0 0;
  cursor: pointer;
}

#check {
  display: none;
}

mat-slide-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-handle-color: var(--colorToggle);
  --mdc-switch-selected-pressed-handle-color: var(--colorToggle);
  --mdc-switch-selected-pressed-state-layer-color: var(--colorToggle);
  --mdc-switch-selected-hover-state-layer-color: var(--colorToggle);
  --mdc-switch-selected-hover-handle-color: var(--colorToggle);
  --mdc-switch-selected-focus-state-layer-color: var(--colorToggle);
  --mdc-switch-selected-focus-handle-color: var(--colorToggle);
  --mdc-switch-selected-track-color: grey;
  --mdc-switch-selected-pressed-track-color: grey;
  --mdc-switch-selected-hover-track-color: grey;
  --mdc-switch-selected-focus-track-color: grey;
  --mdc-switch-handle-surface-color: none;
  --mdc-switch-handle-elevation-shadow: none;
  --mdc-switch-handle-shadow-color: none;
  --mdc-switch-disabled-handle-elevation-shadow: none;
  --mdc-switch-selected-icon-color: var(--colorMain);
  --mdc-switch-unselected-icon-color: var(--colorMain);
  --mdc-switch-unselected-focus-handle-color: #17171a;
  --mdc-switch-unselected-focus-state-layer-color: #17171a;
  --mdc-switch-unselected-handle-color: #17171a;
  --mdc-switch-unselected-hover-handle-color: #17171a;
}


@media (min-width: 1700px) {
  .navigation {
    display: flex;
    justify-content: center;
  }

  .logo {
    position: relative;
  }

  .menu {
    float: left;
    margin-left: 354px;
  }
}

@media (max-width: 1356px) {
  .logo {
    padding-left: 24px;
  }

  .menu {
    margin-right: 24px;
  }
}

@media (max-width: 1006px) {
  .checkButton {
    display: block;
    transform: rotateZ(270deg);
    transition: transform 0.5s;
  }

  .menu {
    position: absolute;
    top: 60px;
    height: 0;
    width: 100%;
    margin-right: 0;
    background: var(--colorSecond);
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
  }

  .menu li:nth-child(1) {
    padding-top: 36px;
  }

  .menu li {
    display: block;
    line-height: 70px;
  }

  .menu a {
    font-size: var(--headerFontSizeDyna);
  }

  #check:checked ~ .checkButton {
    transform: rotateZ(180deg);
  }

  #check:checked ~ .menu {
    height: 100vh;
  }
}
