@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


:root {

  --colorMain: #f9eee8;
  --colorFirst: #366735; /*RAL 6001*/
  --colorSecond: #27352A; /*RAL 6009*/
  --colorBackplate: #00FF000C;
  --colorShadow: #282828;
  --colorBorder: #000000;


  --screenWidth: 0;
  --screenHeight: 0;
  --mouse_x: 0;
  --mouse_y: 0;
  --index: calc(1vw + 1vh);

  --headerFontSize: 1.4rem;
  --descriptionFontSize: 1.2rem;
  --linkFontSize: 1rem;

  --headerFontSizeDyna: calc(var(--index) * 1.4);
  --descriptionFontSizeDyna: calc(var(--index) * 1.2);
  --linkFontSizeDyna: calc(var(--index) * 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  background-color: var(--colorMain);
}

::selection {
  color: var(--colorMain);
  background-color: var(--colorFirst);
}

html, body {display: grid; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

