@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


:root {
  --screenWidth: 0;
  --screenHeight: 0;
  --mouse_x: 0;
  --mouse_y: 0;
  --index: calc(1vw + 1vh);

  --headerFontSize: 1.4rem;
  --descriptionFontSize: 1.2rem;
  --linkFontSize: 1rem;

  --headerFontSizeDyna: calc(var(--index) * 1.4);
  --descriptionFontSizeDyna: calc(var(--index) * 1.2);
  --linkFontSizeDyna: calc(var(--index) * 1);
}

/*.themeDark {*/
/*  --colorMain: #000000;*/
/*  --colorFirst: #282828;*/
/*  --colorSecond: #1a231c;*/
/*  --colorBackplate: #00FF000C;*/
/*  --colorShadow: #366735;*/
/*  --colorBorder: #f9eee8;*/
/*  --colorText: #f9eee8;*/
/*  --invertImage: 0%;*/
/*}*/

.themeDark {
  --colorMain: #17171a;
  --colorFirst: #282828;
  --colorSecond: #1a231c;
  --colorBackplate: #1c1e22;
  --colorShadow: #282828;
  --colorBorder: #25272b;
  --colorText: #d7dade;
  --colorLink: #d7dade;
  --colorButton: #2d3f2d;
  --colorTextButton: #d7dade;
  --colorToggle: #366735;
  --invertImage: 10%;
}

.themeLight {
  --colorMain: #f9eee8;
  --colorFirst: #366735; /*RAL 6001*/
  --colorSecond: #27352A; /*RAL 6009*/
  --colorBackplate: #eeebd9;
  --colorShadow: #282828;
  --colorBorder: #000000;
  --colorText: #000000;
  --colorLink: #366735;
  --colorButton: #366735;
  --colorTextButton: #f9eee8;
  --colorToggle: #000000;
  --invertImage: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;

}

::selection {
  color: var(--colorMain);
  background-color: var(--colorFirst);
}

html, body {display: grid; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--colorMain)}


